// color
$text-default : #222;
$text-gray: #9399A1;

$color-white : #fff;
$color-black : #000;
$color-border: #EDF0F4;
$color-disable: #D0D4DB;
$color-purple: #4434A2;
$color-pink: #FE37A2;

// max-width setting
$max-width: 460px;

// font weight
$font-normal: 400;
$font-bold: 700;